
import java.util.Scanner;

public class JogoDaVelha {


    public static void main(String[] args) {
        boolean continuar = true;
        Scanner teclado = new Scanner(System.in);
        do{
        String[] palavras = {"ABACAXI", "PERA", "MACA", "BANANA", "MORANGO"};
        //escolhe uma palavra aleatoria da array de cima
        String palavraEscolhida = palavras[(int)(Math.random()*palavras.length)];
        apresentacao(palavraEscolhida);
        //executa o metodo validacao junto com o if, se retornar true, ele vence
        if(validacao(palavraEscolhida, teclado)){
            System.out.println("Parabéns você acertou a palavra!");
        //caso seja false, ele perde
        }else{
            System.out.println("Você perdeu todas suas tentativas! A palavra correta era... " + palavraEscolhida);
        }
            /*aqui pergunta se quer continuar, caso coloque y a variavel
        continuar, continua true, e o codigo volta a ser executa, caso
        coloque n, a variavel vira false, e para o loop
        */
            System.out.println("Pretende continuar? [y] ou [n]");
            String decisao = teclado.next().toLowerCase();
            if(decisao.equals("n")){
                continuar = false;
            }
        }while(continuar);
        System.out.println("Obrigado por jogar!");
        teclado.close();
    }
    
    public static void apresentacao(String palavraEscolhida){
        System.out.println("Sua palavra têm " + palavraEscolhida.length() + " letras.");
        System.out.println("Boa Sorte!");
        for(int i = 0; i < palavraEscolhida.length(); i++)
            System.out.print("_ ");
    }
    
    public static boolean validacao(String palavraEscolhida, Scanner teclado){
        //cria uma array para guardar as letras que o jogador ja descobriu
        String[] palavraDoJogador = new String[palavraEscolhida.length()];
        //serve para preencher a array com traços, para quando for mostra na tela nao ficar vazio
        for(int i = 0; i < palavraDoJogador.length; i++)
            palavraDoJogador[i] = "_";
        //salva as letras que ja foram usadas
        String letrasTentadas = "";
        //marca a quantidade de letras que acertou, que serve pra vitoria
        int pontosDeVitoria = 0;
        //começa as chances dele, se as tentativas cair pra 0 o loop para e ele perde
        for(int tentativas = 4; tentativas >= 0;){
            //receber a letra que o jogador coloca, e deixa ele em letra maiuscula para padronizar todas
         String letra = teclado.next().toUpperCase();
         //verifica possiveis repetições, ou se colocou mais de uma letra
             if(letrasTentadas.contains(letra)){
                 System.out.println("Você já usou essa letra, tente outra!");
             }else if(letra.length() > 1){
                 System.out.println("Coloque apenas uma letra!");
             }else{
         boolean letraErrada = true;
         //verifica a palavra escolhida inteira, para ver se tem alguma letra que corresponde ao que o jogador escolheu
            for(int y = 0; y < palavraEscolhida.length(); y++){
                String conversao = String.valueOf(palavraEscolhida.charAt(y));
                if(letra.equals(conversao)){   
                   if(!letrasTentadas.contains(letra)){   
                    letrasTentadas += letra + " ";
                   }
                    palavraDoJogador[y] = conversao;
                    letraErrada = false;
                    pontosDeVitoria++;
                }
                /*caso a quantidade de pontos adicionado seja igual ao tamanho da palavra
                retorna true pro metodo, e finaliza o loop
                */
                if(pontosDeVitoria == palavraEscolhida.length()){
                    for(String x : palavraDoJogador)
                        System.out.print(x + " ");
                    System.out.println();
                    return true;
                    
                }
                }
            //caso erre, ele perde uma tentativa
            if(letraErrada){
                    tentativas--;
                    letrasTentadas += letra + " ";
                    System.out.println("Você errou. Tente novamente!");
                    System.out.println("Tentativas restantes: " + tentativas + " - Letras já usadas: " + letrasTentadas);
                    for(String x : palavraDoJogador)
                        System.out.print(x + " ");
                    System.out.println();
            //caso acerte, ele continua com a mesma quantidade de tentativa
            }else{
                System.out.println("Você acertou!");
                System.out.println("Tentativas restantes: " + tentativas + " - Letras já usadas: " + letrasTentadas);
                for(String x : palavraDoJogador)
                        System.out.print(x + " ");
            }
            
        }
        }
        //caso acabe todas suas tentativas, o loop acaba, e retorna false para o metodo, e finaliza o loop
        return false;
    }

}

